a{
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%; 
}

aside {
    width: 25%;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    margin: 50px;
}

.box{
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 32px;
    background-color: #061E28;
    box-shadow: 0px 4px 4px 0px #000;

}

.structmenu{
    min-width: 532px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 50px;
    background: #020F17;
    mix-blend-mode:screen;
    margin: 30px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .structmenu {
        top: auto;
        bottom: 0;
        margin-top: 0;
        width: 100%;
        flex-direction: row;
    }
    .main{
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .sizes{
        flex-direction: row;
    }

}


@media screen and (max-width: 768px) {
    .structmenu {
        display: none;
    }
}

.item{
    display: flex;
    flex-direction: row;
}

.item img{
    margin-right: 40px;
}

.subdiv{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .subdiv {
        width: 50%; 
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


#descr{
    color: white;
    max-width: 800px;
    max-height: 200px;
    border-radius: 30px;
    background: #04151D;
    box-shadow: 0px 4px 4px 0px #000;
    padding: 20px;
    resize: none;
}

.sticky-arrow {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 45%; /* Adjust the distance from the right as needed */
    cursor: pointer;
}

.form-check, .col-md-6{
    font-size: 32px;

}

.form-control{
    background-color: #1207074a;
}


.secondblock{
    display: none;
}

.sizes {
    display: flex;
    flex-direction: row;
}

.sizes label {
    font-size: 1.5em; /* Set the desired text size */
    margin-bottom: 5px;
}

.sizes input[type="radio"] {
    display: none; /* Hide the default radio buttons */
}

.sizes label {
    display: inline-block;
    padding: 10px;
    border-radius: 10px; /* Set the border-radius for rounded corners */
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sizes input[type="radio"]:checked + label {
    background-color: #053306; /* Change the background color when the radio button is checked */
    color: #fff; /* Change the text color when the radio button is checked */
}