@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.font {
    font-family: 'Fira Code';
}

body {
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 170vh;
}

/* Logo */
.navbar-brand {
    margin-left: 33px;
}

/* Menu */
.navbar-nav {
    width: 737px;
    justify-content: space-between;
}

.navbar-nav li a {
    color: #CAD3D8;
    padding: 10px;
    font-size: 32px;
}

.navbar-nav li a:hover {
    text-decoration: underline;
    color: #CAD3D8;
}

/* footer */
.email {
    color: #CCD3D8;
    font-size: 24px;
    text-decoration: none;
}

.email-icon {
    width: 23px;
    height: 19px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer img:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {

    .logo {
        width: 80%;
        height: 80%;
    }

    .navbar-nav li a {
        font-size: 26px;
    }
}

@media (max-width: 992px) {

    .navbar-nav {
        width: 90%;
    }

    .logo {
        width: 70%;
        height: 70%;
    }

    .navbar-nav li a {
        font-size: 24px;
    }
}

@media (max-width: 768px) {

    .navbar-nav {
        align-items: end;
        width: 100%;
    }

    .navbar-nav li a {
        padding: 0;
        padding-right: 15px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {

    .logo {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 390px) {
    .logo {
        width: 50%;
        height: 50%;
    }

    .email {
        font-size: 20px;
    }
}